
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family:'Roboto', sans-serif;
}

/**** menu superior ****/
.navbar {
  margin: 0;
}
.navbar-default .navbar-nav li a {
  color: #ffffff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:visited,
.navbar-default .navbar-nav li a:focus {
  color: #dddddd;
}
.navbar-default {
  background-color: rgba(5,4,4,0.7);
  border-color: #000;
}
/************************

/*************************/
/***  filtros  **********/

.menu-filtros li {
  display: inline-block;
  color: #B5B5B5;
}
.menu-filtros img {
  width: 30px;
  height: auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


body .mc-cycle {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.table140 {
  display:table;
  height:180px;
}
.cellcenter {
  display:table-cell;
  vertical-align: middle;
}
#timeline {
  margin-top: 2em;
}

#timeline .hitos {
  margin-top:1em;
}
#timeline .hitos li {
  list-style: none;
}

#timeline .container {
  /*height: 480px;*/
  overflow: auto;
  padding: 0;
}
#timeline .hitos li {
  min-height: 180px;
  margin-bottom: 1em;
}
#timeline .container .hito .imagen{
  /*width: 140px;*/
  height: 140px;
}
#timeline .container .hito .imagen{
  background-size: cover;
  display: block;
  background-repeat:  no-repeat;
  background-position: center;
}
#timeline .container .hito {
  display: flex;
}
#timeline .container .even .hito {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#timeline .container .even .dia .table140 {
  float: right;
}
#timeline .container .odd .hito {
  justify-content: flex-start;
}
.bold {
  font-weight: bold;
}
/*animacion*/
.los-hitos-animation.ng-enter,
.los-hitos-animation.ng-leave,
.los-hitos-animation.ng-move {
  transition: 0.5s linear all;
  position:relative;
}

.los-hitos-animation.even.ng-enter {
  left:-10px;
  opacity:0;
}
.los-hitos-animation.odd.ng-enter {
  left:10px;
  opacity:0;
}
.los-hitos-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.los-hitos-animation.ng-leave {
  left:0;
  opacity:1;
}
.los-hitos-animation.ng-leave.even.ng-leave-active {
  left:-10px;
  opacity:0;
}
.los-hitos-animation.ng-leave.odd.ng-leave-active {
  left:10px;
  opacity:0;
}

.los-hitos-animation.ng-move {
  opacity:0.5;
}
.los-hitos-animation.ng-move.ng-move-active {
  opacity:1;
}
.menu-filtros li {
  text-align: center;
  width: 100px;
  vertical-align: top;
}
.menu-filtros li span {
  width:100%;
  display:block;
  padding-top:5px;
  white-space: normal;
}
#timeline .titulo {
  text-align: right;
  font-size: 23px;
  padding-left: 40px;
  float: none;
}
#timeline .dia {
  font-size: 16px;
  text-align: center;
}
#timeline .even {
  /*background-image: url(../images/timeline/linea2.png);
  background-position: 43%;*/
  background-repeat: no-repeat;
}
#timeline .odd {
  /*background-image: url(../images/timeline/linea.png);
   background-position: 35.3%;*/
  background-repeat: no-repeat;
}
.cellcenter span {
  position: relative;
}

connection {
  z-index: -1;
  border: 3px solid;
  border-radius: 200%;
  color: rgb(128, 128, 128);
  color: rgba(0, 0, 0, 0.2);
}
connection.odd {
  border-radius: 100%;
}
connection.first {
  color: black;
  border: 5px dotted;
}
inner {
  border: 4px solid;
  border-radius: 16px;
  color: #668;
}

.circulo {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  background-clip: content-box;
  margin: 0 auto;
  color: white;
  display: block;
}
.circulo.mundial {
  background-color: #3c7bdd;
  border: 2px solid #3c7bdd;
}
.circulo.latinoamerica {
  background-color: #dd6373;
  border: 2px solid #dd6373;
}
.circulo.argentina {
  background-color: #a4dd7a;
  border: 2px solid #a4dd7a;
}
.circulo.todos {
  background-color: #dd7552;
  border: 2px solid #dd7552;
}
#timeline .descripcion {
  color: #949597;
  font-size: 12px;
}
#timeline .fecha {
  color: #C7C7C7;
  font-size: 18px;
}
.boton {
  cursor: pointer;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1900px;
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
