
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family:'Lato', sans-serif;
}
connection {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.loaded {
  opacity: 1;
}
/*****************/
/****  portada  **/
/*****************/
.portada {
  background: url("../images/sitio/tierra.jpg") no-repeat;
  background-size: cover;
  min-height:100vh;
}
#canvas {
  background: transparent;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  pointer-events: none
}
.marcas .container {
  background: rgba(255,255,255,0.6);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.marcas {
  z-index: 1;
  position: relative;
  width: 100%;
}
/**** menu superior ****/
.navbar {
  margin: 0;
}
.navbar-default .navbar-nav li a {
  color: black;
  transition: 0.1s linear all;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:visited,
.navbar-default .navbar-nav li a:focus {
  color: #000000;
}
.navbar-default {
  background-color: white;
  border-color: transparent;
  border-radius: 0;
  border: 0;
  margin-top: -75px;
  z-index: 10;
  /* position: fixed; */
  width: 100%;
}
#js-navbar-collapse {
  font-size: 24px;
  font-weight: 300;
  overflow: visible;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  float: initial;
  margin-bottom: 0;

}
.navbar-nav li {
  float: initial;
}

.navbar .nav a:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
  background-clip: padding-box;
  border-radius: 50%;
  padding: 3px;
  margin-top: 7px;
  transition: 0.1s linear all;
}
.navbar .nav a:hover:after {
  margin-top: 3px;
}
.navbar .nav a {
  text-align: center;
}
.navbar .nav .btninicio:after {
  background-color: #F7DB13;
  border: 7px solid rgba(247, 219, 19, 0.7);
}
.navbar .nav .btndescripcion:after {
  background-color: #EC790F;
  border: 7px solid rgba(236, 121, 15, 0.7);
}
.navbar .nav .btnlinea:after {
  background-color: #D9101D;
  border: 7px solid  rgba(217, 16, 29, 0.7);
}
.navbar .nav .btnblog:after {
  background-color: #742C64;
  border: 7px solid rgba(116, 44, 100, 0.7);
}
.navbar .nav .btnlibro:after {
  background-color: #174D9B;
  border: 7px solid rgba(23, 77, 155, 0.7);
}
.navbar .nav .btncreditos:after {
  background-color: #0B8938;
  border: 7px solid rgba(11, 137, 56, 0.7);
}

.navbar-default .navbar-nav li .btninicio:hover {
  color: #FFCC00;
}
.navbar-default .navbar-nav li .btndescripcion:hover,
.navbar-default .navbar-nav li .btndescripcion.nav-active {
  color: #FF6600;
}
.navbar-default .navbar-nav li .btnlinea:hover,
.navbar-default .navbar-nav li .btnlinea.nav-active {
  color: #CC0033;
}
.navbar-default .navbar-nav li .btnblog:hover,
.navbar-default .navbar-nav li .btnblog.nav-active {
  color: #663366;
}
.navbar-default .navbar-nav li .btnlibro:hover,
.navbar-default .navbar-nav li .btnlibro.nav-active {
  color: #006699;
}
.navbar-default .navbar-nav li .btncreditos:hover,
.navbar-default .navbar-nav li .btncreditos.nav-active {
  color: #009933;
}
#menu.stuck {
  position: fixed;
  top: 0;
  margin-top: 0;
}
#filtros.stuck {
  position: fixed;
  top: 0;
  margin-top: 0;
}
.stuck #js-navbar-collapse {
  font-size: 18px;
  /* overflow: visible; */
}
.stuck #js-navbar-collapse a {
  padding-bottom: 5px;
  padding-top: 5px;
}
.hitos:after {
  content: '';
  display: table;
  clear: both;
}

/************************

/*************************/
/***  filtros  **********/

.menu-filtros li {
  /* display: inline-block; */
  color: #B5B5B5;
}
.menu-filtros img {
  width: 30px;
  height: auto;
}
.menu-filtros .circulo {
  box-shadow: none;
  width: 64px;
  height: 64px;
  border-radius: initial;
  background-position: top center;
  background-repeat: no-repeat;
}
.menu-filtros .circulo.mundial {
  background-image: url("../images/timeline/mundo.png");
}
.menu-filtros .circulo.latinoamerica {
  background-image: url("../images/timeline/america.png");
}
.menu-filtros .circulo.argentina {
  background-image: url("../images/timeline/arg.png");
}
.menu-filtros .circulo.todos {
  background-image: url("../images/timeline/todo.png");
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}



.container-narrow > hr {
  margin: 30px 0;
}

.table140 {
  display:table;
  height:180px;
}
.cellcenter {
  display:table-cell;
  vertical-align: middle;
}
#timeline {
  margin-top: 2em;
}

#timeline .hitos {
  margin-top: 8em;
}
#timeline .hitos li {
  list-style: none;
  min-height: 180px;
  margin-bottom: 10em;
}
#timeline a {
  cursor: pointer;
}
#timeline .container {
  /*height: 480px;*/
  overflow: auto;
  padding: 0;
}
#timeline .container .hito .imagen{
  width: 186px;
  height: 100%;
}
#timeline .container .hito .imagen{
  background-size: contain;
  display: block;
  background-repeat:  no-repeat;
  background-position: top center;
  padding: 0;
}
#timeline .container .even .imagen{
  float: right;
}
.imagen img {
  max-width: 100%;
}
#timeline .container .hito {
  display: flex;
}
#timeline .container .odd .hito {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#timeline .container .dia .table140 {
  margin: auto;
}
#timeline .container .odd .hito {
  justify-content: flex-start;
}

.odd .anio {
  position: relative;
  margin-left: 25px;
  right: 12px;
  font-size: 35px;
  color: #ababab;
  text-align: left;
  float: left;
  width: 150px;
}
.even .anio {
  position: relative;
  /* margin-left: 100px; */
  right: 12px;
  font-size: 35px;
  color: #ababab;
  text-align: right;
  float: right;
  width: 146px;
}


.bold {
  font-weight: bold;
}



/*animacion*/
.los-hitos-animation.ng-enter,
.los-hitos-animation.ng-leave,
.los-hitos-animation.ng-move {
  transition: 0.5s linear all;
  position:relative;
}

.los-hitos-animation.even.ng-enter {
  opacity:0;
}
.los-hitos-animation.odd.ng-enter {
  opacity:0;
}
.los-hitos-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.los-hitos-animation.ng-leave {
  opacity:1;
}
.los-hitos-animation.ng-leave.even.ng-leave-active {
  opacity:0;
}
.los-hitos-animation.ng-leave.odd.ng-leave-active {
  opacity:0;
}

.los-hitos-animation.ng-move {
  opacity:0.5;
}
.los-hitos-animation.ng-move.ng-move-active {
  opacity:1;
}
.menu-filtros li {
  text-align: center;
  width: 120px;
  vertical-align: top;
  margin: 0 20px;
  list-style: none;
}
.menu-filtros li span {
  width:100%;
  display:block;
  padding-top:5px;
  white-space: normal;
}
.menu-filtros {
  text-align: center;
  /* margin-bottom: 10em; */
  display: flex;
  justify-content: center;
}
#filtros .nombrefiltro {
  color: black;
  font-size: 17px;
  padding: 0 10px;
}
.volanta {
  font-size: 14px;
}
.cadavolanta:after {
  content: ',\00a0';
}
.cadavolanta:last-child:after {
  content: '';
}
.cadavolanta {
  text-transform: capitalize;
}
.mundial .volanta a {
  color: #0B8938
}
.latinoamerica .volanta a {
  color: #EC790F
}
.argentina .volanta a {
  color: #174D9B
}
.even .cuerpo {
  padding-left: 5em;
}
.odd .cuerpo {
  padding-right: 3em;
}
.cuerpo .col-sm-7 {
  padding: 0px 7px;
}
#timeline .odd .titulo {
  text-align: left;
  font-size: 31px;
  /* padding-left: 40px; */
  /* float: none; */
  width: 60%;
  margin: auto;
  padding-top: 10px;
  float: left;
  padding-right: 30px;
}
#timeline .even .titulo {
  text-align: right;
  font-size: 31px;
  /* padding-left: 40px; */
  /* float: none; */
  width: 71%;
  margin: auto;
  padding-top: 10px;
  float: right;
  padding-right: 30px;
}
#timeline .dia {
  font-size: 16px;
  text-align: center;
}
#timeline .even {
  /*background-image: url(../images/timeline/linea2.png);
  background-position: 43%;*/
  background-repeat: no-repeat;
}
#timeline .odd {
  /*background-image: url(../images/timeline/linea.png);
   background-position: 35.3%;*/
  background-repeat: no-repeat;
}
.cellcenter span {
  position: relative;
}

connection {
  z-index: -1;
  border: 3px solid;
  border-radius: 200%;
  color: rgb(128, 128, 128);
  color: rgba(0, 0, 0, 0.2);
}
connection.odd {
  border-radius: 100%;
}
connection.first {
  color: black;
  border: 5px dotted;
}

.circulo {
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 16px;
}
.hitos .circulo.mundial {
  background-color: #0B8938;
  box-shadow: 0 0 0 12px rgba(11, 137, 56, 0.7);
}
.hitos .circulo.latinoamerica {
  background-color: #EC790F;
  box-shadow: 0 0 0 12px rgba(236, 121, 15, 0.7);
}
.hitos .circulo.argentina {
  background-color: #174D9B;
  box-shadow: 0 0 0 12px rgba(23, 77, 155, 0.7);
}
.hitos .circulo.todos {
  background-color: #dd7552;
  box-shadow: 0 0 0 12px rgba(221, 117, 82, 0.5);
}
#timeline .descripcion {
  color: #949597;
  font-size: 15px;
  padding-left: 4px;
}
#timeline .even {
  text-align: left;
}
#timeline .odd {
  text-align: right;
}
#timeline .fecha {
  color: #191919;
  font-size: 19px;
  margin-top: -6px;
  font-family: sans-serif;
}

#timeline .container .hito .video {
  width: 186px;
  height: 100%;
  padding: 0;
}
#timeline .container .even .video {
  float: right;
}
#timeline .container .odd .video {
  float: left;
}
iframe.videoClass {
  max-width: 100%;
}

/*flechitas*/
.cuerpo.bloque2 {
  position: relative;
}
.even .cuerpo.bloque2:before {
  position: absolute;
  content:"";
  width:0px;
  height:0px;
  border-top: 20px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid transparent;
  top: 5px;
  left: 40px;
}
.odd .cuerpo.bloque2:before {
  position: absolute;
  content:"";
  width:0px;
  height:0px;
  border-top: 20px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid transparent;
  top: 5px;
  right: 40px;
}
.even .mundial .cuerpo.bloque2:before {
  border-right-color: #0b8938;
}
.odd .mundial .cuerpo.bloque2:before {
  border-left-color: #0b8938;
}
.even .argentina .cuerpo.bloque2:before {
  border-right-color: #174d9b;
}
.odd .argentina .cuerpo.bloque2:before {
  border-left-color: #174d9b;
}
.even .latinoamerica .cuerpo.bloque2:before {
  border-right-color: #EC790F;
}
.odd .latinoamerica .cuerpo.bloque2:before {
  border-left-color: #EC790F;
}
.boton {
  cursor: pointer;
}

/*rotador*/
/* I wanted to center my loader */
#cycle-loader {
  height:32px;
  left:50%;
  margin:-8px 0 0 -8px;
  position:absolute;
  top:50%;
  width:32px;
  z-index:999;
}


.portada {
  position: relative;
}
body .mc-cycle {
  position: static !important;
}

#arrow_left, #arrow_right {
  bottom: 5em;
  height:67px;
  position:absolute;
  right:30px;
  width:36px;
  z-index:1000;
}
#arrow_left {
  right:86px;
}

#arrow_left:hover, #arrow_right:hover {
  bottom:4.95em;
}
#arrow_left:active, #arrow_right:active {
  bottom:4.9em;
}
.in-slide-content {
  color:#333;
  float:right;
  font-family:'Helvetica Neue', helvetica;
  font-size:20px;
  font-weight:bold;
  right:0;
  margin:40px;
  padding:20px;
  position:absolute;
  top:0;
  width:700px;
  z-index:9999; /* Show above .gradient */
  -webkit-font-smoothing:antialiased;
}
.light-text {color:#ddd;}
.smaller-text {font-size:30px;}
.youtube-video, video {
  left:0;
  position:absolute;
  top:0;
}
.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:absolute;
  z-index:9999; /* Show above .gradient */
  -webkit-font-smoothing:antialiased;
  top: 0;
  right:0;
  width:700px;
  float:right;
  font-size:2em;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}


#descripcion {
  margin-top: -2em;
  text-align: center;
  margin-bottom: 4em;
  line-height: 170%;
  font-size: 21px;
  font-weight: 300;
  background: white;
  position: relative;
  padding-top: 4em;
}

#video {
  background: rgba(236, 121, 15, 0.7);
  padding: 6em 0;
}

.contenedortierra {
  position: absolute;
  z-index: -1;
  width: 940px;
  left: -120px;
  height: 159%;
  top: -75px;
}

.tierra {
  position: absolute;
  left: 0;
}

.tierra2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
#marcasenmobile {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .bloque1,.bloque2 {
    width: 48%;
    position: relative;
    float: left;
  }
  .bloquecentro {
    width: 4%;
    position: relative;
    float: left;
  }
  .container {
    /* max-width: 1900px; */
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .contenedor {
    width: 750px;
    margin: auto;
    text-align: justify;
    position: relative;
  }
}

@media screen and (max-width: 768px) {

  #marcasenmobile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
  }
  .bloquecentro {
    order: 1;
  }
  .bloque1 {
    order: 2;
  }
  .bloque2 {
    order: 3;
  }
  #timeline ul {
    padding-left: 0;
  }
  #timeline .container .hito {
    display: block;
  }
  #timeline .dia {
    text-align: left;
    position: absolute;
    left: 0;
    top: 30px;
  }

  .hito .circulo {
    margin: 0;
  }
  #timeline .titulo {
    padding-left: 25px;
  }
  #timeline .anio,
  .odd .anio {
    padding-left: 25px;
    float: none;
    width: 100%;
    text-align: left;
    right: 0;
    margin: 0;
  }
  #timeline .titulo,
  #timeline .even .titulo,
  #timeline .odd .titulo {
    text-align: left;
    width: 100%;
    float: none;
  }
  #timeline .cuerpo {
    padding-left: 15px;
    text-align: left;
  }
  #timeline  .cuerpo.bloque2:before {
    content: none;
  }
  #timeline .container .even .imagen,
  #timeline .container .odd .imagen {
    min-height: 300px;
    margin-left: 15px;
    float: right;
  }
  #timeline .container .hito .video {
    margin-left: 15px;
  }
  #logo img {
    width: 350px;
  }
  .contenedortierra {
    display: none;
  }
  #video iframe {
    width: 100%;
  }
  .odd .cuerpo {
    padding-right: 0;
  }
}

@media screen and (max-width: 550px) {
  #timeline .container .even .imagen,
  #timeline .container .odd .imagen {
    min-height: 300px;
    width: 100%;
    margin-left: 0;
    float: none;
    background-size: cover;
    margin: 10px
  }
  #timeline .container .hito .video {
    margin-left: 0;
    min-height: 300px;
    width: 100%;
    float: none;
  }
  iframe.videoClass {
    width: 100%;
    min-height: 300px;
  }
  #timeline .even .titulo,
  #timeline .odd .titulo {
    font-size: 25px;
  }
  #timeline .hitos li {
    margin-bottom: 5em;
  }
  .navbar-nav {
    display: block;
  }
  .navbar .nav a {
    text-align: right;
    padding-right: 16px;
  }
  .navbar .nav a:after {
    margin: 0;
    float: right;
    /* position: absolute; */
    /* right: 15px; */
    /* top: 12px; */
    margin-left: 5px;
  }
  .marcas .container {
    padding: 0;
  }
  .marcas .container .marca {
    display: none;
  }
  #logo img {
    width: 280px;
  }
  .menu-filtros {
    flex-wrap: wrap;
  }
  .menu-filtros li {
    width: 100px;
    margin: 0;
  }

}
