<div id="timeline" ng-if="hitos">
    <ul class="menu-filtros" >
        <!--<li ng-repeat="hito in hitos | unique:'categoria'" ng-if="hito.categoria" class="{{hito.categoria}} btn">
          <img src="images/timeline/claves.png" />
          <span ng-click="miFiltro={categoria: hito.categoria}" class="btn">{{hito.categoria}}</span>
        </li>
        <li class="todos btn" ng-click="miFiltro={}">
          <img src="images/timeline/todos.png" />
          <span>Todos</span>
        </li>-->
      <!--<li class="argentina btn">
        <img src="images/timeline/claves.png" />
        <span ng-click="miFiltro={categoria: 'argentina'}" class="btn">Argentina</span>
      </li>-->
    </ul>
    <!--<ul class="meses">
      <li class="diciembre"><span ng-click="filtroPorMes(12)" class="btn">Diciembre</span></li>
      <li class="enero"><span ng-click="filtroPorMes(1)" class="btn">Enero</span></li>
    </ul>-->
    <div class="container">
        <div>
            <ul class="hitos">
                <li ng-repeat="hito in hitos |filter:miFiltro|filter:emptyFilter"
                    ng-class="$even ? 'even' : 'odd'" class="los-hitos-animation col-md-12">
                    <div  ng-model="hito" class="hito col-md-12">

                        <div class="titulo bold col-md-5">
                            <div class="table140">
                                <div class="cellcenter">
                                    {{hito.titulo}}
                                </div>
                            </div>
                        </div>
                        <div class="dia col-md-2">
                            <div class="table140">
                                <div class="cellcenter">
                                    <span class="{{hito.categoria}} circulo" line-connection></span>
                                </div>
                            </div>
                        </div>
                        <div class="cuerpo col-md-5">
                          <div class="imagen col-sm-5" style="background-image: url('{{hito.foto}}');"></div>
                          <div class="table140 col-sm-7">
                              <div class="cellcenter">
                                  <div class="fecha bold">{{hito.fecha | fechaFormato}}</div>
                                  <div class="descripcion" ng-bind-html="hito.descripcion"></div>
                              </div>
                          </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
