<div id="timeline" ng-if="hitos">
    <ul class="menu-filtros" >
        <li class="todos">
          <div ng-click="miFiltro={}" class="todos circulo boton"></div>
          <div ng-click="miFiltro={}" class="boton">todos</div>
        </li>
        <li class="mundial">
          <div ng-click="miFiltro={categoria: 'mundial'}" class="mundial circulo boton"></div>
          <div ng-click="miFiltro={categoria: 'mundial'}" class="boton">Sistema Mundo</div>
        </li>
        <li  class="latinoamerica">
          <div ng-click="miFiltro={categoria: 'latinoamerica'}" class="latinoamerica circulo boton"></div>
          <div ng-click="miFiltro={categoria: 'latinoamerica'}" class="boton">Latinoamerica</div>
        </li>
        <li class="argentina">
          <div ng-click="miFiltro={categoria: 'argentina'}" class="argentina circulo boton"></div>
          <div ng-click="miFiltro={categoria: 'argentina'}" class="boton">Argentina</div>
        </li>

      <!--<li class="argentina btn">
        <img src="images/timeline/claves.png" />
        <span ng-click="miFiltro={categoria: 'argentina'}" class="btn">Argentina</span>
      </li>-->
    </ul>
    <!--<ul class="meses">
      <li class="diciembre"><span ng-click="filtroPorMes(12)" class="btn">Diciembre</span></li>
      <li class="enero"><span ng-click="filtroPorMes(1)" class="btn">Enero</span></li>
    </ul>-->
    <div class="container">
        <div>
            <ul class="hitos" conecciones>
                <li ng-repeat="hito in hitos |filter:miFiltro"
                    ng-class="$even ? 'even' : 'odd'" class="los-hitos-animation col-md-12" repeat-coneccion>
                    <div  ng-model="hito" id="{{hito.id}}" class="hito col-md-12">
                        <div class="bold bloque1">
                            <div class="">
                                <div class="anio">
                                    {{hito.anio}}
                                    <div class="fecha bold">{{hito.fecha | fechaFormato}}</div>
                                </div>

                                <div class="titulo">
                                    {{hito.titulo}}
                                </div>
                            </div>
                        </div>
                        <div class="dia bloquecentro">
                            <div class="">
                                <div class="">
                                    <div class="{{hito.categoria}} circulo"></div>
                                </div>
                            </div>
                        </div>
                        <div class="cuerpo bloque2" afkl-image-container>
                          <div class="imagen col-sm-5" ng-if="hito.foto" afkl-lazy-image="{{hito.foto}}"></div>
                          <div class="imagen col-sm-5" ng-if="hito.video" anguvideo ng-model="hito.video" width="206" height="140"></div>
                          <div class="col-sm-7">
                              <div class="">
                                  <div class="descripcion" ng-bind-html="hito.descripcion"></div>
                                  <div ng-if="hito.continua" class="continuaen"><a ng-click="continuar(hito.continua)">Continua con esta historia</a></div>
                              </div>
                          </div>

                        </div>

                    </div>
                </li>
                </conecciones>
            </ul>
        </div>
    </div>
</div>
